body {
  background: cornsilk;
  background: linear-gradient(to right, cornsilk,grey);
}

#sticky-footer {
  flex-shrink: none;
}

#Aboutme {
    background-color: whitesmoke;
    margin-top: 15px;
    border: thick;
    border-style: solid;
    border-color: teal;
}

#AboutmeHeader {
    text-align: center;
    border-bottom: solid;
    border-color: teal;
    margin-bottom: 15px;
    background-color:#DCDCDC;
}

#studentImg {
    padding: 0px !important;
    margin-bottom: 15px;
    image-rendering: crisp-edges;
}

.card-img-top {
  width: 100%;
  margin: auto;
}