html,
body {
  background: cornsilk;
  background: linear-gradient(to right, cornsilk,grey);
}

#sticky-footer {
  flex-shrink: none;
}

#portfolioCont {
  background-color: whitesmoke;
  margin-top: 15px;
  border: thick;
  border-style: solid;
  border-color: teal;
  text-align: center;
}

.card {
  margin-bottom: 15px;
  background-color: #DCDCDC;
}

#portfolioCards {
  background-color: whitesmoke;
}